## Preparing a US states list for SQL database
To combine our fires_data with a concrete state name and not only the shortage, we upload a table with shortages and names of US states. Per DBeaver we update a new empty column, see SQL script.

In [1]:
import pandas as pd
import sqlalchemy
import psycopg2
from sql_functions import get_engine
from sql_functions import get_sql_config

In [2]:
us_states = pd.read_csv('data/states_abbreviations.csv', sep=';')

In [8]:
us_states = us_states.iloc[:,:2]

In [9]:
us_states

   abbreviation             full_name
0            AK                Alaska
1            AL               Alabama
2            AR              Arkansas
3            AZ               Arizona
4            CA            California
5            CO              Colorado
6            CT           Connecticut
7            DC  District of Columbia
8            DE              Delaware
9            FL               Florida
10           GA               Georgia
11           HI                Hawaii
12           IA                  Iowa
13           ID                 Idaho
14           IL              Illinois
15           IN               Indiana
16           KS                Kansas
17           KY              Kentucky
18           LA             Louisiana
19           MA         Massachusetts
20           MD              Maryland
21           ME                 Maine
22           MI              Michigan
23           MN             Minnesota
24           MO              Missouri
25           MS           Mississippi
26           MT               Montana
27           NC        North Carolina
28           ND          North Dakota
29           NE              Nebraska
30           NH         New Hampshire
31           NJ            New Jersey
32           NM            New Mexico
33           NV                Nevada
34           NY              New York
35           OH                  Ohio
36           OK              Oklahoma
37           OR                Oregon
38           PA          Pennsylvania
39           PR           Puerto Rico
40           RI          Rhode Island
41           SC        South Carolina
42           SD          South Dakota
43           TN             Tennessee
44           TX                 Texas
45           UT                  Utah
46           VA              Virginia
47           VT               Vermont
48           WA            Washington
49           WI             Wisconsin
50           WV         West Virginia
51           WY               Wyoming

In [10]:
schema = 'capstone_wildfire'
engine = get_engine()

In [11]:
if engine!=None:
    try:
        us_states.to_sql(name='us_states', # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # Use schmea that was defined earlier
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The us_states table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The us_states table was imported successfully.